.stock-card-parent{
    display: inline-flex;
    padding: 20px;
    /*flex-wrap: nowrap;*/
    /*justify-content: space-evenly;*/
}
.stock-card {
    flex: 1 1 150px;
    border: 1px solid #6AF531;
    background-color: white;
    padding: 15px;
    font-size: 50%;
}
.percent {
    border: 1px solid #284CC9;
    background-color: #6AF531;
    padding: 5px;
    font-size: 70%;
    padding-bottom: 40px;
}

.card-flex {
    display: flex;
    padding: 6px;

}
.padding {
    padding: 3px;
}
/*.container {*/
    /*display: flex;*/
    /*justify-content: space-evenly;*/
/*}*/