
/* ----------------------------------------- */
/* basic set up */
/* ----------------------------------------- */
@media screen and (min-width: 415px){
    .container {
        flex-direction: row;
    }
}

.container > * {
    flex: 1;
}

html {
  background-color: grey;
  color: #555;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./assets/imgs/stock2.jpg");
    overflow: scroll;

}


/* ----------------------------------------- */
/* reuseable components  */
/* ----------------------------------------- */
.App {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}

